
.btn {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.btn.btn-lg{
	padding: 10px 35px;
    font-size: 16px;
}